*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
body {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.calc {
    border: 1px solid #fff;
    width: 300px;
    height: auto;
    margin-top: 20px;
}
.title {
    display: inline-block;
    margin: 5px 0px 15px 20px;
    font-size: 20px;
    color: orangered;
    border-bottom: 1px solid #fff;
}
.textArea-small {
    font-size: 24px;
    height: 20px;
    text-align: right;
    margin-right: 10px;
}
.textArea {
    display: flex;
    justify-content: right;
    margin: 15px 0px 10px 0px;
    height: auto;
}
.textArea-big {
    flex: 1;
    word-wrap: break-word;
    height: auto;
    text-align: right;
    color: orangered;
    font-size: 35px;
    padding: 0px 5px;
}
.barArea{
    display: inline-block;
    height: 40px;
    margin-right: 10px;
}
.bar {
    width: 1px;
    height: 40px;
    background-color:  orangered;
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.numbers {
    display: flex;
    flex-direction: column;
    height: 330px;
}
.line {
    display: flex;
    height: 100%;
}
.num {
    padding: 0px 5px;
    font-size: 35px;
    border: 1px solid #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.num:hover{
    background-color: #222222;
}
.gray {
    background-color: #353434;
}
.orange {
    background-color: #ff4400;
}
.orange:hover{
    background-color: #c93600;
}
.show {
    display: none;
}